---
import Layout from '@layouts/Default.astro';

import Card from '@components/Card.astro';
import Pill from '@components/Pill.astro';
import Icon from '@components/Icon.astro';
---

<Layout>
	<section style={{ paddingTop: '2rem' }}>
		<Card title="Lex von Biedenfeld">
			<p>Hi there! I'm a Houston-based consultant at Accenture and I have a passion for helping clients transform their businesses with the power of cloud computing.
				Whether it's AWS, Azure, Google Cloud, or any other platform, I have the skills and experience to design, implement, and optimize cloud solutions that meet the needs of clients.</p><br/>
		</Card>
	</section>
	<section>
		<Pill href="/about">
			Read About Me
			<Icon icon="arrow-right" size="1em" />
		</Pill>
	</section>
</Layout>

<style>
section {
	flex: 1 1 100%;
	display: flex;
	justify-content: center;
	padding: 0 4rem;
	overflow: auto;
}
</style>